# Ignore Gradle project-specific cache directory
.gradle
.cache/
.idea/
*.iml

# Ignore Gradle build output directory
build

local.properties
/.kotlin/metadata/
/.kotlin/sessions/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
build/
.cache/
dist/

# Strapi specific
.strapi-updater.json
.env
.env.*        # все env-файлы (пароли, ключи, токены)

# MacOS
.DS_Store

# Logs
logs/
*.log
*.log.*

# Editor
.idea/
.vscode/
*.swp
